<h1>hello</h1>
<%=@structured_output%>
Image:<%=@the_image%>
Descriptio:<%=@description%>
<%= c=OpenAI::Chat.new %>
<%=c.system("your are a nutritionist")%>
<%=c.user("how many calories")%>
<%= c.assistant!%>
<%= c.schema='{
"name"=" nutrition_facts"

}'%>
<h1> Results</h1>
<dl>
  <dt> Carbs(g) </dt>
  <dt> @
